In [1]:
import pandas as pd
import numpy as np
import requests as re
import json
import os

In [2]:
# collect population data by race indexed by zip codes

population_data = re.get(f'https://api.census.gov/data/2023/acs/acs5?get=B01003_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B03002_003E,B03002_012E&for=zip%20code%20tabulation%20area:*&key=3c64d895f18a7dc61b53f1482d7c9d8b12ea4fe7')
population_json = population_data.json()

In [3]:
# format data into dataframe

def population_df_clean_up(df):
    df = df.rename(columns={'B01003_001E': 'population_total',
                            'B02001_002E': 'population_white',
                            'B02001_003E': 'population_african_american',
                            'B02001_004E': 'population_AIAN', # American Indian and Alaska Native
                            'B02001_005E': 'population_asian',
                            'B02001_006E': 'population_NHPI', # Native Hawaiian and Other Pacific Islander
                            'B02001_007E': 'population_other',
                            'B02001_008E': 'population_two_or_more_races',
                            'B03002_003E': 'population_white_not_hispanic_or_latino',
                            'B03002_012E': 'population_hispanic_or_latino',
                            'zip code tabulation area': 'zip_code'})
    df = df.set_index('zip_code')
    df = df.astype(int).replace(0, np.nan) # replaced populations of 0 with null
    return df

population_df = pd.DataFrame(population_json[1:], columns=population_json[0]).pipe(population_df_clean_up)
population_df

,population_total,population_white,population_african_american,population_AIAN,population_asian,population_NHPI,population_other,population_two_or_more_races,population_white_not_hispanic_or_latino,population_hispanic_or_latino
zip_code,,,,,,,,,,
00601,16721.0,13904.0,314.0,7.0,19.0,NaN,1120.0,1357.0,50.0,16630.0
00602,37510.0,13781.0,520.0,73.0,44.0,NaN,1732.0,21360.0,1211.0,35950.0
00603,48317.0,35550.0,1572.0,32.0,8.0,NaN,6231.0,4924.0,497.0,47521.0
00606,5435.0,3697.0,12.0,NaN,15.0,NaN,1332.0,379.0,47.0,5373.0
00610,25413.0,6582.0,525.0,1.0,NaN,NaN,2437.0,15868.0,448.0,24663.0
...,...,...,...,...,...,...,...,...,...,...
99923,25.0,17.0,NaN,8.0,NaN,NaN,NaN,NaN,17.0,NaN
99925,854.0,356.0,4.0,294.0,8.0,2.0,4.0,186.0,350.0,15.0
99926,1385.0,79.0,4.0,1113.0,13.0,18.0,NaN,158.0,79.0,48.0
99927,18.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN
99929,2105.0,1160.0,2.0,438.0,91.0,26.0,3.0,385.0,1140.0,116.0

In [4]:
# collect income data by race indexed by zip codes

income_data = re.get(f'https://api.census.gov/data/2023/acs/acs5?get=B19013_001E,B19013A_001E,B19013B_001E,B19013C_001E,B19013D_001E,B19013E_001E,B19013F_001E,B19013G_001E,B19013H_001E,B19013I_001E&for=zip%20code%20tabulation%20area:*&key=3c64d895f18a7dc61b53f1482d7c9d8b12ea4fe7')
income_json = income_data.json()

In [5]:
# format data into dataframe

def income_df_clean_up(df):
    df = df.rename(columns={'B19013_001E': 'median_hh_income_total',
                            'B19013A_001E': 'median_hh_income_white',
                            'B19013B_001E': 'median_hh_income_african_american',
                            'B19013C_001E': 'median_hh_income_AIAN', # American Indian and Alaska Native
                            'B19013D_001E': 'median_hh_income_asian',
                            'B19013E_001E': 'median_hh_income_NHPI', # Native Hawaiian and Other Pacific Islander
                            'B19013F_001E': 'median_hh_income_other',
                            'B19013G_001E': 'median_hh_income_two_or_more_races',
                            'B19013H_001E': 'median_hh_income_white_not_hispanic_or_latino',
                            'B19013I_001E': 'median_hh_income_hispanic_or_latino',
                            'zip code tabulation area': 'zip_code'})
    df = df.set_index('zip_code')
    df = df.astype(int).replace(-666666666.0, np.nan) # set missing values as null
    return df

income_df = pd.DataFrame(income_json[1:], columns=income_json[0]).pipe(income_df_clean_up)
income_df

,median_hh_income_total,median_hh_income_white,median_hh_income_african_american,median_hh_income_AIAN,median_hh_income_asian,median_hh_income_NHPI,median_hh_income_other,median_hh_income_two_or_more_races,median_hh_income_white_not_hispanic_or_latino,median_hh_income_hispanic_or_latino
zip_code,,,,,,,,,,
00601,18571.0,19054.0,NaN,NaN,NaN,NaN,15000.0,18355.0,NaN,18522.0
00602,21702.0,20827.0,25364.0,NaN,NaN,NaN,14631.0,22081.0,22976.0,21572.0
00603,19243.0,18893.0,18886.0,NaN,NaN,NaN,20965.0,21034.0,105417.0,18978.0
00606,20226.0,16843.0,NaN,NaN,NaN,NaN,23774.0,19234.0,NaN,20167.0
00610,23732.0,24226.0,26979.0,NaN,NaN,NaN,22240.0,23513.0,NaN,23500.0
...,...,...,...,...,...,...,...,...,...,...
99923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99925,60000.0,61250.0,NaN,48750.0,NaN,NaN,NaN,82500.0,71250.0,NaN
99926,69464.0,164063.0,NaN,71000.0,NaN,NaN,NaN,41058.0,164063.0,41458.0
99927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99929,64659.0,65202.0,NaN,60313.0,250001.0,NaN,NaN,NaN,65685.0,39750.0

In [6]:
# collect poverty data by race indexed by zip codes

poverty_data = re.get(f'https://api.census.gov/data/2023/acs/acs5?get=B17001_002E,B17001A_002E,B17001B_002E,B17001C_002E,B17001D_002E,B17001E_002E,B17001F_002E,B17001G_002E,B17001H_002E,B17001I_002E&for=zip%20code%20tabulation%20area:*&key=3c64d895f18a7dc61b53f1482d7c9d8b12ea4fe7')
poverty_json = poverty_data.json()

In [7]:
# format data into dataframe

def poverty_df_clean_up(df):
    df = df.rename(columns={'B17001_002E': 'poverty_count_total',
                            'B17001A_002E': 'poverty_count_white',
                            'B17001B_002E': 'poverty_count_african_american',
                            'B17001C_002E': 'poverty_count_AIAN', # American Indian and Alaska Native
                            'B17001D_002E': 'poverty_count_asian',
                            'B17001E_002E': 'poverty_count_NHPI', # Native Hawaiian and Other Pacific Islander
                            'B17001F_002E': 'poverty_count_other',
                            'B17001G_002E': 'poverty_count_two_or_more_races',
                            'B17001H_002E': 'poverty_count_white_not_hispanic_or_latino',
                            'B17001I_002E': 'poverty_count_hispanic_or_latino',
                            'zip code tabulation area': 'zip_code'})
    df = df.set_index('zip_code')
    df = df.astype(int)
    return df

poverty_count_df = pd.DataFrame(poverty_json[1:], columns=poverty_json[0]).pipe(poverty_df_clean_up)
poverty_count_df

,poverty_count_total,poverty_count_white,poverty_count_african_american,poverty_count_AIAN,poverty_count_asian,poverty_count_NHPI,poverty_count_other,poverty_count_two_or_more_races,poverty_count_white_not_hispanic_or_latino,poverty_count_hispanic_or_latino
zip_code,,,,,,,,,,
00601,10199,8330,220,0,0,0,710,939,46,10153
00602,17504,6211,211,47,0,0,1088,9947,424,16996
00603,22683,16891,639,24,0,0,2714,2415,88,22452
00606,2984,2027,12,0,15,0,717,213,14,2955
00610,11145,2963,16,0,0,0,958,7208,190,10941
...,...,...,...,...,...,...,...,...,...,...
99923,0,0,0,0,0,0,0,0,0,0
99925,144,39,0,58,0,0,4,43,39,0
99926,212,4,4,164,0,9,0,31,4,0
99927,0,0,0,0,0,0,0,0,0,0
99929,226,50,0,114,8,18,0,36,46,20

In [8]:
# function to create dataframe of percentage of individuals in poverty by race

def poverty_percentage(population_df, poverty_count_df):
    pov_df = poverty_count_df.copy()
    for col in poverty_count_df.columns.str.removeprefix('poverty_count_'):
        pov_df[f"%_poverty_{col}"] = (poverty_count_df[f'poverty_count_{col}'] / population_df[f'population_{col}'])
    pov_df = pov_df.loc[:, '%_poverty_total':]
    pov_df = round(pov_df * 100, 2)
    return pov_df

poverty_percentage_df = poverty_percentage(population_df, poverty_count_df)
poverty_percentage_df

,%_poverty_total,%_poverty_white,%_poverty_african_american,%_poverty_AIAN,%_poverty_asian,%_poverty_NHPI,%_poverty_other,%_poverty_two_or_more_races,%_poverty_white_not_hispanic_or_latino,%_poverty_hispanic_or_latino
zip_code,,,,,,,,,,
00601,61.00,59.91,70.06,0.00,0.00,NaN,63.39,69.20,92.00,61.05
00602,46.66,45.07,40.58,64.38,0.00,NaN,62.82,46.57,35.01,47.28
00603,46.95,47.51,40.65,75.00,0.00,NaN,43.56,49.05,17.71,47.25
00606,54.90,54.83,100.00,NaN,100.00,NaN,53.83,56.20,29.79,55.00
00610,43.86,45.02,3.05,0.00,NaN,NaN,39.31,45.42,42.41,44.36
...,...,...,...,...,...,...,...,...,...,...
99923,0.00,0.00,NaN,0.00,NaN,NaN,NaN,NaN,0.00,NaN
99925,16.86,10.96,0.00,19.73,0.00,0.00,100.00,23.12,11.14,0.00
99926,15.31,5.06,100.00,14.73,0.00,50.00,NaN,19.62,5.06,0.00
99927,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
99929,10.74,4.31,0.00,26.03,8.79,69.23,0.00,9.35,4.04,17.24

In [9]:
# dataframe containing all data collected

all_dfs = pd.concat([population_df, income_df, poverty_count_df, poverty_percentage_df], axis=1)
all_dfs

,population_total,population_white,population_african_american,population_AIAN,population_asian,population_NHPI,population_other,population_two_or_more_races,population_white_not_hispanic_or_latino,population_hispanic_or_latino,...,%_poverty_total,%_poverty_white,%_poverty_african_american,%_poverty_AIAN,%_poverty_asian,%_poverty_NHPI,%_poverty_other,%_poverty_two_or_more_races,%_poverty_white_not_hispanic_or_latino,%_poverty_hispanic_or_latino
zip_code,,,,,,,,,,,,,,,,,,,,,
00601,16721.0,13904.0,314.0,7.0,19.0,NaN,1120.0,1357.0,50.0,16630.0,...,61.00,59.91,70.06,0.00,0.00,NaN,63.39,69.20,92.00,61.05
00602,37510.0,13781.0,520.0,73.0,44.0,NaN,1732.0,21360.0,1211.0,35950.0,...,46.66,45.07,40.58,64.38,0.00,NaN,62.82,46.57,35.01,47.28
00603,48317.0,35550.0,1572.0,32.0,8.0,NaN,6231.0,4924.0,497.0,47521.0,...,46.95,47.51,40.65,75.00,0.00,NaN,43.56,49.05,17.71,47.25
00606,5435.0,3697.0,12.0,NaN,15.0,NaN,1332.0,379.0,47.0,5373.0,...,54.90,54.83,100.00,NaN,100.00,NaN,53.83,56.20,29.79,55.00
00610,25413.0,6582.0,525.0,1.0,NaN,NaN,2437.0,15868.0,448.0,24663.0,...,43.86,45.02,3.05,0.00,NaN,NaN,39.31,45.42,42.41,44.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99923,25.0,17.0,NaN,8.0,NaN,NaN,NaN,NaN,17.0,NaN,...,0.00,0.00,NaN,0.00,NaN,NaN,NaN,NaN,0.00,NaN
99925,854.0,356.0,4.0,294.0,8.0,2.0,4.0,186.0,350.0,15.0,...,16.86,10.96,0.00,19.73,0.00,0.00,100.00,23.12,11.14,0.00
99926,1385.0,79.0,4.0,1113.0,13.0,18.0,NaN,158.0,79.0,48.0,...,15.31,5.06,100.00,14.73,0.00,50.00,NaN,19.62,5.06,0.00
99927,18.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,...,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
99929,2105.0,1160.0,2.0,438.0,91.0,26.0,3.0,385.0,1140.0,116.0,...,10.74,4.31,0.00,26.03,8.79,69.23,0.00,9.35,4.04,17.24

In [10]:
# function to create dataframe containing data by race

def create_race_df(race):
    df = pd.DataFrame(population_df[f'population_{race}'], index=population_df.index).rename(columns={f'population_{race}': 'population'})
    df = pd.concat([df, income_df[f'median_hh_income_{race}']], axis=1).rename(columns={f'median_hh_income_{race}': 'median_hh_income'})
    df = pd.concat([df, poverty_count_df[f'poverty_count_{race}']], axis=1).rename(columns={f'poverty_count_{race}': 'poverty_count'})
    df = pd.concat([df, poverty_percentage_df[f'%_poverty_{race}']], axis=1).rename(columns={f'%_poverty_{race}': '%_poverty'})
    return df

In [11]:
# function to convert dataframes by race into csv file

demographics_list = ['total', 'white', 'african_american', 'AIAN', 'asian', 'NHPI', 'other', 'two_or_more_races', 'white_not_hispanic_or_latino', 'hispanic_or_latino']

def to_csv(demographics_list):
    for demographic in demographics_list:
        df = create_race_df(demographic)
        df.to_csv(f'acs2023_data_by_zip_code/data_by_race/{demographic}.csv')

In [12]:
# create csv files

to_csv(demographics_list)
all_dfs.to_csv('acs2023_data_by_zip_code/all_data.csv')
population_df.to_csv('acs2023_data_by_zip_code/population.csv')
poverty_count_df.to_csv('acs2023_data_by_zip_code/poverty_count.csv')
poverty_percentage_df.to_csv('acs2023_data_by_zip_code/poverty_percentage.csv')
income_df.to_csv('acs2023_data_by_zip_code/median_income.csv')