In [102]:
import pandas as pd
import re

In [103]:
#read in html code from webpage
with open('webpage.txt', 'r') as file:
    text = file.read()

In [104]:
#searches through and gets the content from each row in the table
rows = re.findall(r'<tr>(?:.|\n)*?</tr>', text)
len(rows)

5610

In [105]:
df = pd.DataFrame(columns=['Name', 'Address', 'Phone Number', 'Hours', 'Rating', 'Number of Reviews'])

In [107]:
for row in rows:
  datas = re.findall(r'<td(?:.|\n)*?</td>', row)
  #first data contains number of stars/ratings
  ratingsInfo = datas[0]
  ratingAverage = re.findall(r'(?<=<div class="font-weight-semi-bold">)(?:.|\n)*?(?=</div>)', ratingsInfo)[0]
  numReview = re.findall(r'(?<=<div class="pt-1 text-secondary small">)(?:.|\n)*?(?=</div>)', ratingsInfo)[0]
  numReview = re.findall(r'\d+', numReview)[0]

  #second data contains information about business
  businessInfo = datas[1]
  divs = re.findall(r'<div(?:.|\n)*?</div>', businessInfo)
  #div0 has name
  name = re.findall(r'(?<=<span class="font-weight-semi-bold mr-2">)(?:.|\n)*?(?=</span>)', divs[0])[0]
  name = name[29:]
  name = name[:-24]

  #contains Name, Address, Phone Number
  info = re.findall(r'(?<=data-search=")(?:.|\n)*?(?=">)', businessInfo)[0]
  phoneNumber = info[-12:]
  address = info[len(name)+1:-13]
  if len(divs) < 12:
    #print(address)
    hours = "closed"
  else:
    hours = "open"
  df.loc[len(df)] = [name, address, phoneNumber, hours, ratingAverage, numReview]

In [108]:
df.shape

(5610, 6)

In [109]:
df.to_csv('loanInfo.csv')